.card-login{
    width:250px;
    height:150px;
}

.card-login-title{
    text-align:center;
    font-weight:bold;
    font-size:26px;
    margin:15px 0 15px 0;
    padding:0;
}

.card-add{
    width:400px;
    height:100px;
}

.card-add-header{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.card-add-header-left{
    width:100%;
    display:flex;
    align-items:center;
}

.card-add-header-left img{
    margin-left:35px;
}

.card-add-title{
    /* margin:20px auto; */
    font-size: 24px;
    font-weight:bold;
    margin-left:10px;
}

.card-body{
    text-align: center;
}

input{
    height:40px;
    width:80%;
    margin-bottom: 0.5rem;
    font-size:1rem;
}

#login{
    border: none;
    border-radius: 5px;
    background-color: #24a0ed;
    color:#FFFF;
    font-size: 1rem;
    font-weight: bold;
    height:40px;
    width:83%;
    margin-bottom:10px;
    text-align: center;
    text-decoration: none;
} 

#login:active{
    background-color: #91cff6;
  }

#word{
    font-size: 1.2rem;
    /* border:2px solid #91cff6; */
}

#addWord{
    border: none;
    background-color: #24a0ed;
    border-radius:30px;
    color:#FFFF;
    font-size: 0.9rem;
    font-weight: bold;
    height:35px;
    width:50%;
    margin-bottom:20px;
    text-align: center;
    text-decoration: none;
}

#addWord:active{
    background-color: #91cff6;
  }


#statusMessage{
    text-align:center;
    font-size:16px;
    color: #1DB954;
    margin:0;
    padding-bottom:10px;
}

#logout{
    border: none;
    border-radius: 5px;
    background-color: #F32013;
    color:#FFFF;
    font-size: 0.9rem;
    font-weight: bold;
    height:30px;
    width:80px;
    margin-bottom:10px;
    text-align: center;
    text-decoration: none;
    margin:10px 38px 0 0 ;
}