.card{
    width:250px;
    height:100px;
}

.card-add{
    width:400px;
    height:100px;
}

.card-header{
    text-align:center;
    margin:20px auto;
    font-size: 24px;
    font-weight:bold;
}

.card-body{
    text-align: center;
}

input{
    height:40px;
    width:80%;
    margin-bottom: 0.5rem;
    font-size:1rem;
}

#login{
    border: none;
    border-radius: 5px;
    background-color: #24a0ed;
    color:#FFFF;
    font-size: 1rem;
    font-weight: bold;
    height:40px;
    width:83%;
    margin-bottom:20px;
    text-align: center;
    text-decoration: none;
} 

#login:active{
    background-color: #91cff6;
  }

#word{
    font-size: 1.2rem;
}

#addWord{
    border: none;
    border-radius: 5px;
    background-color: #1DB954;
    color:#FFFF;
    font-size: 1.2rem;
    font-weight: bold;
    height:40px;
    width:30%;
    margin-bottom:20px;
    text-align: center;
    text-decoration: none;
}

#addWord:active{
    background-color: #77d598;
  }