.card{
    width:180px;
}


.card-body{
    text-align: center;
}

.card-header{
    text-align: center;
    font-size: 20px;
}

input{
    display:block;
    height:40px;
    width:100%;
    margin-bottom: 0.5rem;
}

button{
    display:block;
    width:100%;
}

#login-btn{
    margin-top:20px;
}